*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.overallTopNavyBar{
    height:130px;
    width:100%;
}
.topNavy{
    background-color:rgb(12, 33, 131);
    height:50px;
    width:100%;
}
.bottomNavy{
    background-color: rgb(29, 87, 167);
        height: 80px;
        width: 100%;
}